body {
    background: url('./images/bg-mobile.jpg') no-repeat top center/cover;
    color: white;
}

.container {
    width: 360px;
    margin: 15px auto;  
}

.profile{
    text-align: center;
}

.profile img {
    width: 112px;
}

.profile p{
    text-align: center;
}