@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('./images/bg-mobile.jpg') no-repeat top center/cover;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 360px;
    margin: 56px auto;
    padding: 0 24px;
}

.profile {
    padding: 24px;
    text-align: center;
}

.profile img {
    width: 112px;
}

.profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 16px;
}

ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.50);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.10);
    padding: 16px 24px;

    transition: ease-in 0.3s;
}

ul li a:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.05);
    border: 1.5px solid #fff;
}

.social-links {
    flex-direction: row;
    justify-content: center;
    padding: 24px 0;
}

.social-links li a {
   background-color: transparent;
   border: none; 
   font-size: 20px;
   padding: 16px;
   transition: ease-in 0.5s;
}

.social-links li a:hover{
     transform: scale(1.2); 
    color:rgba(255, 255, 255, 0.5);
    border-radius: 90px;
}

footer {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
}