@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #fff;
    --bg-url: url('./images/bg-mobile.jpg');
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1);
    --surface-color-hover: rgba(255, 255, 255, 0.05);
    --highlight-color: rgba(255, 255, 255, 0.05);
    --switch-bg: url('./images/MoonStars.svg');
}

.light {
    --text-color: #000;
    --bg-url: url('./images/bg-mobile-light.jpg');
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.01);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg: url('./images/Sun.svg');
}

body {
    background: var(--bg-url) no-repeat top center/cover;
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
}

.container {
    width: 100%;
    max-width: 588px;
    margin: 56px auto;
    padding: 0 24px;
}

.profile {
    padding: 24px;
    text-align: center;
}

.profile img {
    width: 112px;
}

.profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

.switch {
    width: 64px;
    position: relative;
    margin: 4px auto;
}

.switch button {
    width: 32px;
    height: 32px;
    background: #fff var(--switch-bg) no-repeat center;
    border: none;
    border-radius: 999px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

}

.light .switch button {
    right: 0;
    left: initial;
}

.switch button:hover {
    cursor: pointer;
    border-radius: 999px;
    box-shadow: 0px 0px 5px 12px var(--highlight-color);
}

.light .switch button:hover{
    box-shadow: 0px 0px 5px 12px var(--highlight-color);
}

.switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 999px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 16px;
}

ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    text-decoration: none;
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    background-color: var(--surface-color);
    padding: 16px 24px;
    transition: ease-in 0.3s;
}

ul li a:hover {
    cursor: pointer;
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}

.social-links {
    flex-direction: row;
    justify-content: center;
    padding: 24px 0;
}

.social-links li a {
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding: 16px;
    transition: ease-in 0.3s;
}

.social-links li a:hover {
    transform: scale(1.2);
    background: var(--highlight-color);
    border: none;
    border-radius: 90px;
}

footer {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
}